In [1]:
import pandas as pd

In [3]:
Metro_Rails = pd.read_excel("WorldMetro.xlsx")

In [4]:
Metro_Rails.head()

,#,Unnamed: 1,City,>,<,City aka,>.1,<.1,Country,>.2,...,>.29,<.29,Aircon trains,>.30,<.30,Walk-through,>.31,<.31,Remarks,Unnamed: 99
0,1,Shanghai,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,Maglev and Line 22 not included. Stations* wrong,NaN,NaN
1,2,Beijing,NaN,NaN,Peking,NaN,NaN,China,NaN,NaN,...,NaN,yes,NaN,NaN,all lines,NaN,NaN,NaN,NaN,NaN
2,3,London,NaN,NaN,NaN,NaN,NaN,United Kingdom,NaN,NaN,...,NaN,"Circle, District, Hammersmith & City and Metro...",NaN,NaN,"Metropolitan Line, DLR",NaN,NaN,"DLR not included (31.4 km, 39 stations). East ...",NaN,NaN
3,4,Guangzhou,NaN,NaN,Canton,NaN,NaN,China,NaN,NaN,...,NaN,yes,NaN,NaN,yes,NaN,NaN,"APM included (3,9 km +9 stations)",NaN,NaN
4,5,New York,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,"PATH not included (22.2 km, 13 stations). SIR ...",NaN,NaN